<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  
  <config>
    <add key="globalPackagesFolder" value="%userprofile%\.nuget\packages" />
    <add key="signatureValidationMode" value="require" />
    <add key="trustedSigners" value="repository=https://api.nuget.org/v3/index.json;serviceName=nuget.org" />
    <add key="restoreAuditLevel" value="high" />
    <add key="restoreAuditMode" value="detect" />
    <add key="packageRestore" value="true" />
    <add key="automaticPackageRestore" value="true" />
  </config>
  
  <trustedSigners>
    <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
      <certificate fingerprint="5A387C15D4D473AA21C5B4D3CE86EE05E1298C5B8CF2C5A6DE35EA94AA8B78AC" 
                   fingerprintAlgorithm="SHA256" 
                   matchSource="true" 
                   pinningMode="require" />
    </repository>
  </trustedSigners>
  
  <audit>
    <add key="level" value="high" />
    <add key="suppress" value="false" />
    <add key="directUrlsOnly" value="true" />
    <add key="timeoutMinutes" value="10" />
  </audit>
</configuration>